* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

:root {
  --black: #353535;
  --purple: #7a2b58;
  --red: #ff3737;
  --yellow: #ffcc33;
  --gray: #707070;
  --green: #03b5b0;
  --white: #fff;
  --card-border-bottom-width: 2.5rem;
  --line-height: 1.375rem;
  --box-shadow-color: rgba(0, 0, 0, 16%);
  --corner-circle-translateY: 15.5%;
}

$breakpoint: 904px;

body {
  color: var(--white);
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.4;
}

button {
  border: 0;
}

.yellowSubtitle {
  color: var(--yellow);
  font-size: clamp(2rem, 4vw, 2.75rem);
  text-align: center;
}

.cornerCircle {
  position: absolute;
  bottom: 0;

  min-height: 3.91rem;
  height: 8vw;
  max-height: 12.035rem;
}

header {
  background-image: url(./imagens/header-360.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 29.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;

  img {
    position: absolute;
    height: 9%;
    top: 10%;
  }

  h1 {
    font-size: min(12vw, 5.4375rem);
  }

  p {
    font-size: min(4.9vw, 1.875rem);
    line-height: normal;
  }

  @media (min-width: 361px) {
    background-image: url(imagens/header-1024.png);
  }

  @media (min-width: 1025px) {
    background-image: url(imagens/header-1920.png);
  }

  @media (min-width: 1024px) {
    height: 31.125rem;
  }

  @media (min-width: 1366px) {
    height: 39.0625rem;
  }

  @media (min-width: 1920px) {
    height: 58.5625rem;
  }
}

.sectionOne {
  background-color: var(--purple);
  padding: 6.6125rem 1.25rem 3.8875rem;
  position: relative;

  @media (min-width: $breakpoint) {
    padding: 3.9375rem 0;
  }

  h2 {
    margin-bottom: 2.0625rem;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  img:last-child {
    left: 0;

    transform: translate(-50%, var(--corner-circle-translateY));
  }

  .content {
    border: 3px solid;
    border-radius: 1.25rem;
    padding: 7.125rem 1.0975rem 2.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 52.375rem;
    margin: 0 auto;

    @media (min-width: $breakpoint) {
      padding: 2.3125rem 4.1875rem 2.3125rem 3.3625rem;
      flex-direction: row;
      gap: 5.425rem;
    }

    h2 {
      display: block;
      margin-bottom: 2.5rem;

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    img:first-child {
      position: absolute;
      top: -4.7rem;

      @media (min-width: $breakpoint) {
        position: static;
      }
    }

    .texts {
      p {
        margin-bottom: 1rem;
      }

      li {
        list-style: none;

        &::before {
          content: '■ ';
          color: var(--yellow);
        }
      }
    }
  }
}

.sectionTwo {
  background-color: var(--green);
  padding-inline: 1.25rem;
  padding-top: min(9vw, 4.375rem);
  padding-bottom: max(10%, 3.1875rem);
  position: relative;
  overflow: hidden;

  h2 {
    margin-bottom: 2.5rem;

    @media (max-width: $breakpoint) {
      display: none;
    }
  }

  .content {
    max-width: 59rem;
    margin: 0 auto;

    p {
      margin-bottom: 10%;
    }
  }

  & > img {
    right: 0;

    transform: translate(50%, var(--corner-circle-translateY));
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.25rem;

  @media (min-width: 984px) {
    gap: 1.1875rem;
  }

  article {
    height: 17.125rem;
    width: 18.875rem;

    background-color: var(--white);
    border-radius: 1.25rem;
    border-bottom: var(--card-border-bottom-width) solid var(--purple);
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    box-shadow: 0 3px 6px var(--box-shadow-color);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      width: 3.375rem;
      height: 3.375rem;
      transform: translateY(100%);
    }

    &:first-child {
      padding-top: 2.56875rem;
    }

    &:nth-child(2) {
      padding-top: 4.49375rem;
    }

    &:last-child {
      padding-top: 2.3rem;
    }
  }
}

.sectionThree {
  background-color: var(--black);
  overflow: hidden;

  h2 {
    text-align: center;
    color: var(--green);
    font-size: clamp(1.5625rem, 3vw, 2.375rem);
    padding-block: min(9%, 4.375rem);
  }

  .imgContainer {
    position: relative;

    img:first-child,
    img:last-child {
      height: 4.021875rem;
      position: absolute;
    }

    img:first-child {
      left: -2.125rem;
      top: -2.0125rem;
    }

    img:nth-child(2) {
      width: 100%;
    }

    img:last-child {
      bottom: -1.075rem;
      right: -2.1625rem;
    }
  }

  p:last-child {
    padding: 3.24375rem 1.25rem 2.1875rem;
  }
}

.sectionFour {
  padding: 2.1875rem 1.25rem 3.01875rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > p {
    color: var(--gray);
    margin-bottom: 2.50625rem;
  }
}

.interactive {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;

  & > img {
    width: 100%;
    max-width: 37.506875rem;
  }

  .circle {
    background-color: var(--yellow);
    border: 1px solid;
    color: #000;
    border-radius: 50%;
    width: 55%;
    aspect-ratio: 1 / 1;
    font-size: min(4vw, 1.625rem);
    margin-top: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
  }

  button {
    width: 8%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 4px 10px var(--box-shadow-color);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    &.plus {
      background-color: var(--green);
      bottom: 16%;

      &.first {
        left: 8%;
      }

      &.second {
        right: 8%;
      }
    }

    &.minus {
      background-color: var(--purple);
      top: 16%;
    }

    img {
      width: 42%;
    }
  }
}

footer {
  background-color: var(--purple);
  height: 18.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 70%;
    max-width: 20.461875rem;
  }
}
